TITULO{ font-family: Comic Sans MS; font-size: 90; color: #151515; text-align: center;}
SUBTITULO{ font-family: Comic Sans MS; font-size: 16; color: #151515;}
BODY{ font-family: Consolas; font-size: 12; color: #151515; background-color: #F5F6CE;}
IMG{width: 80px; height: 80px ; margin: 10px; text-align: center;}